
#global {
  background: url(img/bg-fondo.png), url(img/bg.png) center no-repeat;
}

.btn-popup{
  /* background-color: red; */
  left: 520px;
  /* top: 977px; */
  background: none;
}

.btn-small, .btn-small.active{
  left: 180px;
  z-index: 2;
  /* top: 523px; */
  width: 282px;
  height: 108px;
  background: none;
  /* background-color: red; */
  
}

/* BOTONS */
#btn-1{
  top: 400px;
}
#btn-2{
  top: 523px;
}
#btn-3{
  top: 645px;
}

/* POPUP */
#btn1, #btn2, #btn3, #btn4, #btn5, #btn6 {
  width: 1130px;
  height: 150px;
  /* background-color: green; */
  left: 520px;

}

#btn1{
  top: 400px;
}

#btn2{
  top: 623px;
}

#btn3{
  top: 840px;
}

#btn4{
  top: 1068px;
}


/* #btn2{
  left: 1075px;
}
#btn3{
  left: 1355px;
}
#btn4{
  left: 1395px;
} */

.box{
  position: absolute;
  width: 2048px;
  height: 1536px;
}
#box1{
background: transparent url('img/box0.png') no-repeat center;
}
#box2{
background: transparent url('img/box1.png') no-repeat center;
}
#box3{
background: transparent url('img/box2.png') no-repeat center;
}