
#global {
  background: url(img/bg-fondo.png), url(img/bg.png) center no-repeat;
}


.btn-popup{
  left: 1495px;
  top: 1060px;
  background: none;
}

.btn-small, .btn-small.active{
  left: 190px;
  z-index: 2;
  top: 453px;
  width: 152px;
  height: 108px;
  background: none;
}
#btn1{
  left: 390px;
}
#btn2{
  left: 725px;
}
#btn3{
  left: 1055px;
}
#btn4{
  left: 1395px;
}
#btn5{
  left: 1334px;
  top: 1210px;
  width: 300px;
  height: 94px;
  background: transparent;
}
.box{
  position: absolute;
  width: 2048px;
  height: 1536px;
}
#box1{
background: transparent url('img/box0.png') no-repeat center;
}
#box2{
background: transparent url('img/box1.png') no-repeat center;
}
#box3{
background: transparent url('img/box2.png') no-repeat center;
}