
#global {
    background: url(img/bg-fondo.png), url(img/bg.png) center no-repeat;
}


.btn-popup{
  top: 360px;
  left: 1650px;
  }
  

/* Las img de las partes del cuerpo */
.img{
  position: absolute;
  width: 234px;
  height: 371px;
  top: 416px;
}

#img1{
  background: transparent url('img/casos_clinicos/1/img-1.png') no-repeat center;
  left: 597px;
}
#img2{
  background: transparent url('img/casos_clinicos/1/img-2.png') no-repeat center;
  left: 1373px;
}