
#global {
  background: url(img/bg-fondo.png), url(img/bg.png) center no-repeat;
}

.btn-popup{
  left: 655px;
  top: 690px;
  background: none;
  width: 105px;
  height: 105px;
}
#btn1{
  left: 190px;
  top: 1114px;
}
#btn2{
  left: 960px;
  top: 1114px;
}
