
#global {
  background: url(img/bg-fondo.png), url(img/bg.png) center no-repeat;
}

.btn-popup{
  top: 978px;
  left: 1466px;
}


/* Boton lateral que cambia la parte del cuerpo */
#btn1{
  top: 610px;
  left: 166px;
}
#btn2{
  top: 710px;
  left: 167px;
}
#btn3{
  top: 810px;
  left: 167px;
}

/* Las img de las partes del cuerpo */
.img{
  position: absolute;
  width: 314px;
  height: 371px;
  top: 556px;
}
#img1{
  background: transparent url('img/casos_clinicos/1/img-1.png') no-repeat center;
  left: 555px;
}
#img2{
  background: transparent url('img/casos_clinicos/1/img-2.png') no-repeat center;
  left: 913px;
}
#img3{
  background: transparent url('img/casos_clinicos/1/img-3.png') no-repeat center;
  left: 1243px;
}
.content{
  width: 100%;
  height: 92%;
  top: 345px;
  left: 169px;
  border-radius: 0% 2% 2% 2%;
  border: 1px solid #018993;
}