
#global {
  background: url(img/bg-fondo.png), url(img/bg.png) center no-repeat;
}

#btn1,#btn2,#btn3,#btn4{
  width: 310px;
  height: 87px;
  top: 186px;
}
#btn1{
  left: 210px;
}
#btn2{
  left: 577px;
}
#btn3{
  left: 944px;
}
#btn4{
  left: 1321px;
}
/* #btn5{
  left: 1357px;
} */

.btn-grafica-red{
  top: 477px;
  left: 1537px;
}
