
#global {
  background: url(img/bg-fondo.png), url(img/bg.png) center no-repeat;
}

.btn-popup{
  /* background-color: red; */
  left: 520px;
  /* top: 977px; */
  background: none;
}

.btn-small, .btn-small.active{
  left: 180px;
  z-index: 2;
  /* top: 523px; */
  width: 282px;
  height: 108px;
  background: none;
  /* background-color: red; */

  /* background-color: royalblue; */
  
}

/* BOTONS */
#btn-1{
  top: 420px;
  left: 478px;
  width: 400px;
}
#btn-2{
  top: 543px;
  left: 478px;
  width: 400px;
}
#btn-3{
  top: 673px;
  left: 478px;
  width: 400px;
}

#btn-4{
  top: 420px;
  left: 950px;
  width: 400px;
}

#btn-5{
  top: 543px;
  left: 950px;
  width: 400px;
}

#btn-6{
  top: 673px;
  left: 950px;
  width: 400px;
}


#btn-7{
  top: 950px;
  left: 478px;
  width: 400px;
}
#btn-8{
  top: 1073px;
  left: 478px;
  width: 400px;
}
#btn-9{
  top: 1203px;
  left: 478px;
  width: 400px;
}

#btn-10{
  top: 950px;
  left: 950px;
  width: 400px;
}

#btn-11{
  top: 1073px;
  left: 950px;
  width: 400px;
}

#btn-12{
  top: 1203px;
  left: 950px;
  width: 400px;
}
.box{
  position: absolute;
  width: 2048px;
  height: 1536px;
}
#box1{
background: transparent url('img/box0.png') no-repeat center;
}
#box2{
background: transparent url('img/box1.png') no-repeat center;
}
#box3{
background: transparent url('img/box2.png') no-repeat center;
}