
#global {
  background: url(img/bg-fondo.png), url(img/bg.png) center no-repeat;
}

#btn1{
  background: none;
  width: 420px;
  height: 120px;
  top: 450px;
  left: 230px;
}

#btn2{
  /* background-color: red; */
  background: none;
  width: 420px;
  height: 120px;
  top: 640px;
  left: 230px;
}

