#global {
  background: url(img/bg-fondo.png), url(img/bg.png) center no-repeat;
}
#btn-1{
  /* background-color: red; */
  top: 740px;
  left: 190px;
  width: 300px;
}
#btn-2{
  /* background-color: red; */
  top: 870px;
  left: 190px;
  width: 300px;
}
#btn-3{
  /* background-color: red; */
  top: 995px;
  left: 190px;
  width: 300px;
}

#btn-4{
  top: 1225px;
  left: 1099px;
  width: 250px;
}

#btn-5{
  top: 1225px;
  left: 1399px;
  width: 200px;
}

/* Change image with drag bullet */
.slidecontainer {
  position: absolute;
  width: 110%;
  top: 59%;
  right: -2%;
  z-index: 5;
}

.slider {
  position: absolute;
  -webkit-appearance: none;
  width: 20px;
  height: 409px;
  border-radius: 15px;
  background: #b7b6b6;
  outline: none;
  opacity: 1;
  left: 200px;
  top: -196px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
  background: #de5a5d;
  border-color: #939698;
}
.ui-slider .ui-slider-handle{
  position: absolute;
  z-index: 2;
  width: 3.7em;
  height: 3.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  border-radius: 23px;
  left: -20px;
}


.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 50px;
height: 50px;
border-radius: 50%;
background: white;
cursor: pointer;
}

.box {
  position: absolute;
  width: 1064px;
  height: 539px;
  top: 569px;
  left: 580px;
}

.casos{
width: 100%;
height: 100%;
z-index: -1;
left: 130px;
position: absolute;
}
.casos.active{
z-index: 1;
}

.casos .fotograma{position: absolute;width: 685px;height: 459px;top: 80px;left: 210px;}

.fotos{
position: absolute;
top: 0%;
height: 100%;
width: 100%;
background-repeat: no-repeat;
background-size: 100%;
}

#caso1 .foto1 {
background-image: url(img/img-1-1.png);
}
#caso1 .foto2 {
background-image: url(img/img-1-2.png);
height: 0%;
}
#caso2 .foto1 {
background-image: url(img/img-2-1.png);
}
#caso2 .foto2 {
background-image: url(img/img-2-2.png);
height: 0%;
}
#caso3 .foto1 {
background-image: url(img/img-3-1.png);
}
#caso3 .foto2 {
background-image: url(img/img-3-2.png);
height: 0%;
}

.btn-grafica-red{
  top: 630px;
  left: 180px;
}
.btn-caso-clinico{
  top: 630px;
  left: 340px;
}

.text{
font-family: 'AcademySans';
position: absolute;
font-size: 32px;
top: -110px;
text-align: center;
left: -380px;
}
.text b, .subtext b{
font-family: 'AcademySans-Bold';
}

.subtext{
font-family: 'AcademySans';
position: absolute;
font-size: 18px;
top: 750px;
text-align: left;
left: -510px;
}