
#global {
  background: url(img/bg-fondo.png), url(img/bg.png) center no-repeat;
}

/* .btn{
  left: 190px;
  z-index: 2;
  top: 363px;
  width: 152px;
  height: 108px;
} */

.btn-popup{
  left: 1495px;
  top: 418px;
  background: none;
}

.btn-small, .btn-small.active{
background: none;
}
#btn1{
  left: 1556px;
}
#btn2{
  left: 1545px;
  top: 1142px;
}
.swiper-button-next{
  right: 90px;
}