
#global {
  background: url(img/bg-fondo.png), url(img/bg.png) center no-repeat;
}

.btn-popup{
  /* background-color: red; */
  left: 520px;
  /* top: 977px; */
  background: none;
}

.btn-small, .btn-small.active{
  left: 180px;
  z-index: 2;
  /* top: 523px; */
  width: 282px;
  height: 108px;
  background: none;
  /* background-color: red; */
  
}

.btn-referencias2 {
  background: transparent url('../../../shared/css/img/menu/top/referencias.png') no-repeat center;
  width: 100px;
    height: 100px;
    /* background-color: aquamarine; */
    position: absolute;
    left: 1800px;
    top: 1250px;
}

/* BOTONS */
#btn-1{
  top: 515px;
}
#btn-2{
  top: 653px;
}
#btn-3{
  top: 785px;
}

/* POPUP */
#btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7, #btn8, #btn9 {
  width: 1130px;
}

#btn1{
  top: 385px;
}

#btn2{
  top: 480px;
}

#btn3{
  top: 580px;
}

#btn4{
  top: 668px;
}
#btn5{
  top: 760px;
}
#btn6{
  top: 860px;
}
#btn7{
  top: 958px;
}
#btn8{
  top: 1050px;
}
#btn9{
  top: 1150px;
}

.swiper-button-next{
  right: 90px;
}

#cas1, #cas2, #cas3, #cas4{
  width: 1190px;
  height: 150px;
  left: 370px;
}

#cas1{
  top: 360px;
}
#cas2{
  top: 570px;
}

#cas3{
  top: 780px;
}
#cas4{
  top: 1000px;
}


.box{
  position: absolute;
  width: 2048px;
  height: 1536px;
}
#box1{
background: transparent url('img/box0.png') no-repeat center;
}
#box2{
background: transparent url('img/box1.png') no-repeat center;
}
#box3{
background: transparent url('img/box2.png') no-repeat center;
}