
#global {
  background: url(img/bg-fondo.png), url(img/bg.png) center no-repeat;
}

#btn1,#btn2,#btn3,#btn4,#btn5,#btn6{
  width: 220px;
  height: 210px;
}
#btn1{
  left: 300px;
  top: 700px;
}
#btn2{
  left: 819px;
  top: 700px;
}
#btn3{
  left: 1330px;
  top: 700px;
}
#btn4{
  left: 300px;
  top: 1180px;
}
#btn5{
  left: 820px;
  top: 1180px;
}
#btn6{
  left: 1330px;
  top: 1180px;
}

.retina .popup {
    overflow: scroll;
    overflow-x: hidden;
}