
#global {
  background: url(img/bg-fondo.png), url(img/bg.png) center no-repeat;
}

#btn1,#btn2,#btn3,#btn4{
  width: 220px;
  height: 210px;
  /* background-color: red; */
}
#btn1{
  left: 800px;
  top: 390px;
}
#btn2{
  left: 513px;
  top: 710px;
}
#btn3{
  left: 800px;
  top: 1040px;
}
#btn4{
  left: 1072px;
  top: 710px;
}
