
#global {
  background: url(img/bg-fondo.png), url(img/bg.png) center no-repeat;
}

.btn-popup{
  top: 657px;
  left: 207px;
}

.btn-small, .btn-small.active{
  background: none;
}
#btn1{
  left: 169px;
  top: 364px;
  width: 300px;
  height: 94px;
}
#btn2{
  left: 474px;
  top: 363px;
  width: 300px;
  height: 94px;
}
#btn3{
  left: 775px;
  top: 363px;
  width: 300px;
  height: 94px;
}
#btn4{
  left: 1454px;
  top: 580px;
  width: 300px;
  height: 94px;  
  background: transparent;
}

.box{
  position: absolute;
  width: 2048px;
  height: 1536px;
}
#box1{
  background: transparent url('img/box0.png') no-repeat center;
}
#box2{
  background: transparent url('img/box1.png') no-repeat center;
}
#box3{
  background: transparent url('img/box2.png') no-repeat center;
}

.check{
  font-size: 20px;
  position: absolute;
  left: 220px;
  display: flex;
  width: 330px;
  height: 60px;
}
.check span{
  display: block;
  height: 35px;  
  width: 35px;  
  background: transparent url('img/botonoff.png') no-repeat center;
}
.check span.active{
  background: transparent url('img/botonon.png') no-repeat center;
}
.check p.active{
  color: #f04f59;
  font-family: 'AcademySans-Bold';
}
.check p{
  padding: 10px;
  font-family: 'AcademySans-Light';
}
#btnCheck1{
  top: 590px;
}
#btnCheck2{
  top: 640px;
}
#btnCheck3{
  top: 690px;
}
#btnCheck4{
  top: 740px;
}

.boxBg{
  position: absolute;
  width: 1060px;
  height: 478px;
  top: 620px;
  left: 500px;
}
#boxBg0{
  background: transparent url('img/boxBg0.png') no-repeat center;
}
#boxBg1{
  background: transparent url('img/boxBg1.png') no-repeat center;
}
#boxBg2{
  background: transparent url('img/boxBg2.png') no-repeat center;
}
#boxBg3{
  background: transparent url('img/boxBg3.png') no-repeat center;
}
#boxBg4{
  background: transparent url('img/boxBg4.png') no-repeat center;
}

.transparent{
  background: transparent !important;
}

.custom-popup{
  width: 2048px;
  height: 1536px;  
  top: 0px;
  right: 0px;
  left: 0px;
}
.overlay.active{
  z-index: 100;
}