.global6 {
  background: url(img/bg-fondo.png), url(img/bg1.png) center no-repeat;
}
.global7 {
  background: url(img/bg-fondo.png), url(img/bg2.png) center no-repeat;
}
.global8 {
  background: url(img/bg-fondo.png), url(img/bg3.png) center no-repeat;
}
.btn-medium.active {
  background-color: #f04e58;
  border-radius: 35px;
  background-image: none;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'AcademySans-Light';
  text-align: center;
  font-size: 34px;
  padding: 20px;
}
#btn1,#btn2,#btn3,#btn4{
  width: 310px;
  height: 87px;
  top: 186px;
}
#btn1{
  left: 210px;
}
#btn2{
  left: 577px;
}
#btn3{
  left: 944px;
}
#btn4{
  left: 1321px;
}

#btn-ref1{
  background: none;
  /* background-color: #f04e58; */
  width: 360px;
  height: 87px;
  top: 686px;
  left: 650px;
}

#btn6{top: 680px;left: 220px;}
#btn7{top: 790px;left: 220px;}
#btn8{top: 890px;left: 220px;}

/* Change image with drag bullet */
.slidecontainer {
  position: absolute;
  width: 110%;
  top: 73%;
  right: -4%;
  z-index: 5;
}

.slider {
  position: absolute;
  -webkit-appearance: none;
  width: 20px;
  height: 409px;
  border-radius: 15px;
  background: #b7b6b6;
  outline: none;
  opacity: 1;
  left: 200px;
  top: -196px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
  background: #de5a5d;
  border-color: #939698;
}
.ui-slider .ui-slider-handle{
  position: absolute;
  z-index: 2;
  width: 3.7em;
  height: 3.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  border-radius: 23px;
  left: -20px;
}


.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 50px;
height: 50px;
border-radius: 50%;
background: white;
cursor: pointer;
}

.box {
  position: absolute;
  width: 1064px;
  height: 539px;
  top: 569px;
  left: 580px;
}

.casos{
width: 100%;
height: 100%;
z-index: -1;
left: 130px;
position: absolute;
}
.casos.active{
z-index: 1;
}

.casos .fotograma{position: absolute;width: 402px;height: 461px;top: 150px;left: 260px;}

.fotos{
position: absolute;
top: 0%;
height: 100%;
width: 100%;
background-repeat: no-repeat;
background-size: 100%;
}

#caso1 .foto1 {
background-image: url(img/img-1-1.png);
}
#caso1 .foto2 {
background-image: url(img/img-1-2.png);
height: 0%;
}

.btn-grafica-red{top: 130px;left: 860px;}
.btn-caso-clinico{
top: 630px;
left: 520px;
}

.text{font-family: 'AcademySans';position: absolute;font-size: 32px;top: -40px;text-align: center;left: -380px;}
.text b, .subtext b{
font-family: 'AcademySans-Bold';
}

.subtext{
font-family: 'AcademySans';
position: absolute;
font-size: 18px;
top: 750px;
text-align: left;
left: -510px;
}
.basal{
  font-size: 32px;
  top: 170px;
  left: 130px;
}
.semana{
  font-size: 32px;
  top: 580px;
  left: 60px;
}

.swiper-button-next{
  right: 90px;
}