
#global.bg1 {
  background: url(img/bg-fondo.png), url(img/bg1.png) center no-repeat;
}

#global.bg2 {
  background: url(img/bg-fondo.png), url(img/bg2.png) center no-repeat;
}

.btn-popup{
  top: 360px;
  left: 1650px;
}


/* Boton lateral que cambia la parte del cuerpo */
#btn1{
  top: 410px;
  left: 166px;
}
#btn2{
  top: 500px;
  left: 167px;
}
#btn3{
  top: 590px;
  left: 166px;
}
#btn4{
  top: 680px;
  left: 167px;
}
#btn5{
  top: 770px;
  left: 167px;
}
#btn6{
  top: 860px;
  left: 166px;
}
#btn7{
  top: 950px;
  left: 167px;
}

/* Las img de las partes del cuerpo */
.img{
  position: absolute;
  width: 234px;
  height: 371px;
  top: 416px;
}

#img1{
  background: transparent url('img/casos_clinicos/1/img-1.png') no-repeat center;
  left: 547px;
}
#img2{
  background: transparent url('img/casos_clinicos/1/img-2.png') no-repeat center;
  left: 801px;
}
#img3{
  background: transparent url('img/casos_clinicos/1/img-3.png') no-repeat center;
  left: 1048px;
}

#img4{
  background: transparent url('img/casos_clinicos/1/img-4.png') no-repeat center;
  left: 547px;
}
#img5{
  background: transparent url('img/casos_clinicos/1/img-5.png') no-repeat center;
  left: 801px;
}
#img6{
  background: transparent url('img/casos_clinicos/1/img-6.png') no-repeat center;
  left: 1048px;
}

#img7{
  background: transparent url('img/casos_clinicos/1/img-7.png') no-repeat center;
  left: 547px;
}
#img8{
  background: transparent url('img/casos_clinicos/1/img-8.png') no-repeat center;
  left: 801px;
}
#img9{
  background: transparent url('img/casos_clinicos/1/img-9.png') no-repeat center;
  left: 1048px;
}

#img10{
  background: transparent url('img/casos_clinicos/1/img-10.png') no-repeat center;
  left: 547px;
}
#img11{
  background: transparent url('img/casos_clinicos/1/img-11.png') no-repeat center;
  left: 801px;
}
#img12{
  background: transparent url('img/casos_clinicos/1/img-12.png') no-repeat center;
  left: 1048px;
}

#img13{
  background: transparent url('img/casos_clinicos/1/img-13.png') no-repeat center;
  left: 547px;
}
#img14{
  background: transparent url('img/casos_clinicos/1/img-14.png') no-repeat center;
  left: 801px;
}
#img15{
  background: transparent url('img/casos_clinicos/1/img-15.png') no-repeat center;
  left: 1048px;
}

#img16{
  background: transparent url('img/casos_clinicos/1/img-16.png') no-repeat center;
  left: 547px;
}
#img17{
  background: transparent url('img/casos_clinicos/1/img-17.png') no-repeat center;
  left: 801px;
}
#img18{
  background: transparent url('img/casos_clinicos/1/img-18.png') no-repeat center;
  left: 1048px;
}

#img19{
  background: transparent url('img/casos_clinicos/1/img-19.png') no-repeat center;
  left: 547px;
}
#img20{
  background: transparent url('img/casos_clinicos/1/img-20.png') no-repeat center;
  left: 801px;
}
#img21{
  background: transparent url('img/casos_clinicos/1/img-21.png') no-repeat center;
  left: 1048px;
}

.content{
  width: 100%;
  height: 92%;
  top: 345px;
  left: 169px;
  border-radius: 0% 2% 2% 2%;
  border: 1px solid #018993;
}


/* Tabs */
#tab-1{
  top: 1175px;
}
#tab-2{
  top: 1275px;
}
/* Las graficas */
.grafica{
  position: absolute;
  width: 1481px;
  height: 976px;
  left: 463px;
}
#grafica-1{
  background: transparent url('img/casos_clinicos/1/grafica-1.png') no-repeat;
  width: 1096px;
  height: 395px;
  top: 993px;
}
#grafica-2{
  background: transparent url('img/casos_clinicos/1/grafica-2.png') no-repeat;
  width: 1096px;
  height: 438px;  
  top: 950px;
}

.btn-medium{
  color: #a4a6a8;
}