
#global.bg1 {
  background: url(img/bg-fondo.png), url(img/bg1.png) center no-repeat;
}

#global.bg2 {
  background: url(img/bg-fondo.png), url(img/bg2.png) center no-repeat;
}

#global.bg3 {
  background: url(img/bg-fondo.png), url(img/bg3.png) center no-repeat;
}

#global.bg4 {
  background: url(img/bg-fondo.png), url(img/bg4.png) center no-repeat;
}

.btn-popup{
  top: 360px;
  left: 1650px;
}


/* Boton lateral que cambia la parte del cuerpo */
#btn1{
  top: 410px;
  left: 166px;
}
#btn2{
  top: 500px;
  left: 167px;
}
#btn3{
  top: 590px;
  left: 166px;
}
#btn4{
  top: 680px;
  left: 167px;
}

/* Las img de las partes del cuerpo */
.img{
  position: absolute;
  width: 234px;
  height: 371px;
  top: 416px;
}

#img1{
  background: transparent url('img/casos_clinicos/1/img-1.png') no-repeat center;
  left: 547px;
}
#img2{
  background: transparent url('img/casos_clinicos/1/img-2.png') no-repeat center;
  left: 761px;
}
#img3{
  background: transparent url('img/casos_clinicos/1/img-3.png') no-repeat center;
  left: 970px;
}
#img4{
  background: transparent url('img/casos_clinicos/1/img-4.png') no-repeat center;
  left: 547px;
}
#img5{
  background: transparent url('img/casos_clinicos/1/img-5.png') no-repeat center;
  left: 761px;
}
#img6{
  background: transparent url('img/casos_clinicos/1/img-6.png') no-repeat center;
  left: 1183px;
}
#img7{
  background: transparent url('img/casos_clinicos/1/img-7.png') no-repeat center;
  left: 1403px;
}
#img8{
  background: transparent url('img/casos_clinicos/1/img-8.png') no-repeat center;
  left: 543px;
}
#img9{
  background: transparent url('img/casos_clinicos/1/img-9.png') no-repeat center;
  left: 1177px;
}
#img10{
  background: transparent url('img/casos_clinicos/1/img-10.png') no-repeat center;
  left: 1402px;
}
#img11{
  background: transparent url('img/casos_clinicos/1/img-11.png') no-repeat center;
  left: 547px;
}
#img12{
  background: transparent url('img/casos_clinicos/1/img-12.png') no-repeat center;
  left: 1393px;
}

.content{
  width: 100%;
  height: 92%;
  top: 345px;
  left: 169px;
  border-radius: 0% 2% 2% 2%;
  border: 1px solid #018993;
}


/* Tabs */
.tab{
  width: 279px;
  height: 80px;
  position: absolute;
  left: 170px;
}
.tab p{
  font-size: 35px;
  text-align: center;
  
  color: #abadaf;
}
.tab.active{
  opacity: 1;
  width: 266px;
  height: 66px;
}
.tab.active p{
  color: white;
}
#tab-1{
  top: 985px;
}
/* Las graficas */
.grafica{
  position: absolute;
  width: 1481px;
  height: 976px;
  top: 950px;
  left: 465px;
}
#grafica-1{
  background: transparent url('img/casos_clinicos/1/grafica-1.png') no-repeat;
  width: 10962px;
  height: 398px;  
}