
#global {
  background: url(img/bg-fondo.png), url(img/bg.png) center no-repeat;
}

.btn-popup{
  top: 1020px;
  left: 1450px;
}


/* Boton lateral que cambia la parte del cuerpo */
#btn1{
  top: 610px;
  left: 166px;
}
#btn2{
  top: 710px;
  left: 167px;
}
#btn3{
  top: 810px;
  left: 167px;
}

/* Las img de las partes del cuerpo */
.img{
  position: absolute;
  width: 457px;
  height: 369px;
  top: 604px;
}

#img1{
  background: transparent url('img/casos_clinicos/1/img-1.png') no-repeat center;
  left: 567px;
}
#img2{
  background: transparent url('img/casos_clinicos/1/img-2.png') no-repeat center;
  left: 1051px;
}

#img3{
  background: transparent url('img/casos_clinicos/1/img-3.png') no-repeat center;
  left: 567px;
}
#img4{
  background: transparent url('img/casos_clinicos/1/img-4.png') no-repeat center;
  left: 1051px;
}

#img5{
  background: transparent url('img/casos_clinicos/1/img-5.png') no-repeat center;
  left: 567px;
  width: 887px;
  height: 488px;
}
#img6{
  background: transparent url('img/casos_clinicos/1/img-6.png') no-repeat center;
  left: 1071px;
}

.content{
  width: 100%;
  height: 92%;
  top: 345px;
  left: 169px;
  border-radius: 0% 2% 2% 2%;
  border: 1px solid #018993;
}