
#global {
  background: url(img/bg-fondo.png), url(img/bg.png) center no-repeat;
}

.btn-popup{
  top: 360px;
  left: 1650px;
}


/* Boton lateral que cambia la parte del cuerpo */
#btn1{
  top: 410px;
  left: 166px;
}
#btn2{
  top: 500px;
  left: 167px;
}

/* Las img de las partes del cuerpo */
.img{
  position: absolute;
  width: 234px;
  height: 371px;
  top: 416px;
}

#img1{
  background: transparent url('img/casos_clinicos/1/img-1.png') no-repeat center;
  left: 547px;
}
#img2{
  background: transparent url('img/casos_clinicos/1/img-2.png') no-repeat center;
  left: 801px;
}

#img3{
  background: transparent url('img/casos_clinicos/1/img-3.png') no-repeat center;
  left: 547px;
}
#img4{
  background: transparent url('img/casos_clinicos/1/img-4.png') no-repeat center;
  left: 801px;
}
#img5{
  background: transparent url('img/casos_clinicos/1/img-5.png') no-repeat center;
  left: 1048px;
}
#img6{
  background: transparent url('img/casos_clinicos/1/img-6.png') no-repeat center;
  left: 1328px;
}

.content{
  width: 100%;
  height: 92%;
  top: 345px;
  left: 169px;
  border-radius: 0% 2% 2% 2%;
  border: 1px solid #018993;
}


/* Tabs */
.tab{
  width: 288px;
  height: 78px;
  position: absolute;
  left: 170px;
}
.tab p{
  font-size: 35px;
  text-align: center;
  
  color: #abadaf;
}
.tab.active{
  opacity: 1;
}
.tab.active p{
  color: white;
}
#tab-1{
  top: 1065px;
}
#tab-2{
  top: 1155px;
}
#tab-3{
  top: 1247px;
}
/* Las graficas */
.grafica{
  position: absolute;
  width: 1481px;
  height: 976px;
  left: 454px;
}
#grafica-1{
  background: transparent url('img/casos_clinicos/1/grafica-1.png') no-repeat;
  width: 1096px;
  height: 438px;
  top: 890px;
}
#grafica-2{
  background: transparent url('img/casos_clinicos/1/grafica-2.png') no-repeat;
  width: 1096px;
  height: 438px;
  top: 890px;
}
#grafica-3{
  background: transparent url('img/casos_clinicos/1/grafica-3.png') no-repeat;
  width: 1096px;
  height: 438px;
  top: 890px;
}

.btn-medium{
  color: #a4a6a8;
}