
#global {
  background: url(img/bg-fondo.png), url(img/bg.png) center no-repeat;
}

.btn-popup{
  top: 360px;
  left: 1650px;
}


/* Boton lateral que cambia la parte del cuerpo */
#btn1{
  top: 500px;
  left: 166px;
}
#btn2{
  top: 590px;
  left: 167px;
}
#btn3{
  top: 1130px;
  left: 126px;
}
#btn4{
  top: 1210px;
  left: 126px;
}


/* Las img de las partes del cuerpo */
.img{
  position: absolute;
  width: 234px;
  height: 371px;
  top: 416px;
}

#img1{
  background: transparent url('img/casos_clinicos/1/img-1.png') no-repeat center;
  left: 597px;
}
#img2{
  background: transparent url('img/casos_clinicos/1/img-2.png') no-repeat center;
  left: 1373px;
}
#img3{
  background: transparent url('img/casos_clinicos/1/img-3.png') no-repeat center;
  left: 597px;
}
#img4{
  background: transparent url('img/casos_clinicos/1/img-4.png') no-repeat center;
  left: 1373px;
}

.content{
  width: 100%;
  height: 92%;
  top: 345px;
  left: 169px;
  border-radius: 0% 2% 2% 2%;
  border: 1px solid #018993;
}


/* Tabs */
#tab-1{
  top: 985px;
}
#tab-2{
  top: 1075px;
}
#tab-3{
  top: 1165px;
}
#tab-4{
  top: 1255px;
}
/* Las graficas */
.grafica{
  position: absolute;
  width: 1481px;
  height: 976px;
  top: 950px;
  left: 509px;
}
#grafica-1{
  background: transparent url('img/casos_clinicos/1/grafica-1.png') no-repeat;
  width: 10962px;
  height: 398px;  
}
#grafica-2{
  background: transparent url('img/casos_clinicos/1/grafica-2.png') no-repeat;
  width: 1142px;
  height: 395px;  
}
#grafica-3{
  background: transparent url('img/casos_clinicos/1/grafica-3.png') no-repeat;
  width: 1142px;
  height: 433px;
  top: 900px;
}
#grafica-4{
  background: transparent url('img/casos_clinicos/1/grafica-4.png') no-repeat;
  width: 1142px;
  height: 433px;
  top: 910px;
}
